p, h1, h2, ul, li {
  margin: 0;
  padding: 0;
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.bordered {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1230px;
}

body {
  background-color: #f4f6f9;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}

.social-network {
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.social-network__item {
  margin-right: 20px;
}

.social-network__item:last-child {
  margin-right: 0px;
}

.social-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  height: 44px;
  align-items: center;
  justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover, .social-network__link :focus {
  color: blue;
  fill: blue;
}

.social-network__link_svg, .contacts-item__link-svg {
  margin-right: 7px;
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: #555555;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover > .social-network__link_svg, .social-network__link:hover > .contacts-item__link-svg {
  fill: inherit;
}

.main-photo {
  display: block;
  width: 100%;
}

.contacts-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item__link:hover, .contacts-item__link :focus {
  color: whitesmoke;
  fill: whitesmoke;
}

.contacts-item__link-svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #555555;
}

.contacts-item:hover .contacts-item__link-svg {
  fill: whitesmoke;
}

.table-skills {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}

.table-skills__line > td {
  width: 165px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.table-skills__line > td:first-child {
  text-align: right;
  padding-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.table-skills__line > td:last-child {
  padding-left: 10px;
}

.container-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-column {
  width: 600px;
  background-color: #1e2939;
}

.first-column__content {
  padding: 20px;
  color: #9DA4BD;
}

.first-column__content > h2 {
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
  color: #fff;
}

.first-column__content > h2:first-child {
  margin-top: 0px;
}

.second-column {
  background-color: #9DA4BD;
  color: #1e2939;
  padding: 20px;
  width: 100%;
}

.caption {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.portfolio {
  margin-top: 30px;
  text-align: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-definition {
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.portfolio-description__list {
  margin-bottom: 30px;
  font-size: 30px;
}

.portfolio-description__list-link {
  color: inherit;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description__list-link:hover, .portfolio-description__list-link :focus {
  color: whitesmoke;
}

.portfolio-description__list-paragraph {
  text-transform: none;
  font-weight: 400;
}

.job {
  margin: 0 auto;
  padding: 15px 0;
  width: 600px;
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.job-window {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  list-style: upper-alpha;
}
/*# sourceMappingURL=main.css.map */